@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

p {
  /*font-size: smaller;
  /*---Change font? --*/

}

/*---Necessary so that footer bar does not overlay content --*/
body { 
  padding-bottom: 100px; 
  min-height: 100vh;
  position: relative;
}

/*---Zoomable Picture stuff --*/
/*---Currently not used --*/

.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  margin: 100px;
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(2);
  cursor: zoom-out
}


/*---Clickable Picture stuff --*/

.clickable_project {
  border: 1px black solid;
  border-radius: 10px;
}

.clickable_project:hover {
  border: 2px red solid;
  background-color: whitesmoke;
  cursor: pointer;
}

.clickable_image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.clickable_image:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1200px;
}

/* Caption of Modal Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, .caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




/*---Footer --*/
#footer {
  text-align: center;
  background-color: grey;
  position: absolute;
  height: 100px;
  padding-top: 15px;
  bottom: 0;
  width: 100%;
  clear: both;
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Settings for Hannos Carousel --*/
/* Fix for getting Caption outside of image carousel */
.carousel-caption { 
  /*bottom:-65px; This is what I did instead of the following three lines to get the caption outside*/
  margin-top: 3px;  
  text-align: left;
  position: relative;
  left: auto;
  right: auto;
  /*text-align: start; Somehow not working*/ 
  color: #CFCFCF; 
  font-size: 16px;
  font-family:'Avenir LT W01 45 Book';

}
/* Fix for getting Controls outside of image carousel */

.carousel{
  margin-left: 80px;
  margin-right: 80px;
}


.carousel-control-next,
.carousel-control-prev {
  width: 4%;
  font-size: 30px;
  bottom: 10%;  /* Puts the arrows where I want them vertically :) */

}

/*
This is for if i want to move the arrows
.carousel-control-prev {
  margin-left: -40px;
}

.carousel-control-next {
  margin-right: -40px;
}

*/

.fa-angle-left,
.fa-angle-right {
  color:red;
  opacity: 1.0;

}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/* unvisited link */
a:link {
  color: darkblue;
}

/* visited link */
a:visited {
  color: darkblue;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: #0000FF;
}



/* This affects the style of the navbar
------------------------------------------------------ */
#selected {
  color: red !important;
}

/* Not so sure about this */
.navbar {
  border-bottom-color: black;
  border-bottom-width: 3px;
  border-bottom-style: double;
}

.navbar-custom {
  background-color: transparent;
  color: black;
}
/* Affects everything that is not an item of the menu - like my name on the left side */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: black;
}
/* Affects the items of the menu */
.navbar-custom .navbar-nav .nav-link {
  color: black;
}
/* change the color of active or hovered links */
.nav-item:active, .nav-item:hover {
  color: red !important;
}

.navbar .nav-item:active .nav-link,
.navbar .nav-item:hover .nav-link {
  color: red !important;
}

/* This affects the style of projects on the project page
------------------------------------------------------ */
.project_header {
  color:  black;
  /* Let's put some nice font later */
}

.project_cell {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








